<form id="create_user" action="/create_user" method="POST">
  <label>Username: <input type="text" required name="user_name"></label><br>
  <label>Password: <input type="password" required name="password"></label><br>
  <input type="submit" value="login">
</form>